body {
    margin: 0;
    background: #ffffff;
}



.container {
   margin: 10px;
}

    .container img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .container p {
       font-family: Arial;
       font-size: 20px;
    }



.text_main{
    text-align: justify;
}


.container {
    margin-bottom: 10px;
}


   

 